In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [2]:
%%sql
create database if not exists tutorial;
use tutorial;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.
0 rows affected.

[]

# Partitioning
Partitioning allows to partition the data physically by the given constraints for quick access of the data

# RANGE Partitioning
Range partitioning allows to

In [8]:
%%sql

DROP TABLE IF EXISTS tutorial.orders;

CREATE TABLE tutorial.orders (
    order_id INT AUTO_INCREMENT,
    order_date DATE NOT NULL,
    customer_name VARCHAR(50),
    amount DECIMAL(10, 2),
    PRIMARY KEY(order_id,order_date)
)
PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020 VALUES LESS THAN (2021),
    PARTITION p_2021 VALUES LESS THAN (2022),
    PARTITION p_2022 VALUES LESS THAN (2023),
    PARTITION p_future VALUES LESS THAN MAXVALUE
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql
INSERT INTO tutorial.orders (order_date, customer_name, amount) VALUES
( '2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
( '2021-07-20', 'Diana', 150.75),
( '2022-03-02', 'Edward', 500.00),
( '2025-06-18', 'FutureMan', 9999.99);

 * mysql+mysqlconnector://root:***@localhost/test
6 rows affected.

[]

In [11]:
%%sql
select * from orders;

 * mysql+mysqlconnector://root:***@localhost/test
6 rows affected.

[(1, datetime.date(2019, 5, 10), 'Alice', Decimal('100.00')),
 (2, datetime.date(2020, 1, 15), 'Bob', Decimal('200.50')),
 (3, datetime.date(2020, 12, 1), 'Charlie', Decimal('300.00')),
 (4, datetime.date(2021, 7, 20), 'Diana', Decimal('150.75')),
 (5, datetime.date(2022, 3, 2), 'Edward', Decimal('500.00')),
 (6, datetime.date(2025, 6, 18), 'FutureMan', Decimal('9999.99'))]

In [12]:
# Partition pruning or checking the working of the partition

In [14]:
%%sql
SELECT
    PARTITION_NAME,
    PARTITION_METHOD,
    PARTITION_EXPRESSION,
    SUBPARTITION_METHOD,
    SUBPARTITION_EXPRESSION
FROM information_schema.PARTITIONS
WHERE TABLE_SCHEMA = 'tutorial'
    AND TABLE_NAME = 'orders';

 * mysql+mysqlconnector://root:***@localhost/test
5 rows affected.

[('p_future', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2022', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2021', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2020', 'RANGE', 'year(`order_date`)', None, None),
 ('p_before_2020', 'RANGE', 'year(`order_date`)', None, None)]

In [ ]:
# To view the table schema

In [16]:
%%sql
show create table orders;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('orders', 'CREATE TABLE `orders` (\n  `order_id` int NOT NULL AUTO_INCREMENT,\n  `order_date` date NOT NULL,\n  `customer_name` varchar(50) DEFAULT NULL,\n  `am ... (374 characters truncated) ... 2022) ENGINE = InnoDB,\n PARTITION p_2022 VALUES LESS THAN (2023) ENGINE = InnoDB,\n PARTITION p_future VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */')]

In [18]:
%%sql
select * from orders where year(order_date)=2021

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(4, datetime.date(2021, 7, 20), 'Diana', Decimal('150.75'))]

In [19]:
%%sql
explain format = JSON
select * from orders where year(order_date)=2021

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "1.85"\n    },\n    "table": {\n      "table_name": "orders",\n   ... (490 characters truncated) ... ,\n        "customer_name",\n        "amount"\n      ],\n      "attached_condition": "(year(`tutorial`.`orders`.`order_date`) = 2021)"\n    }\n  }\n}',)]

In [21]:
%%sql
explain format = JSON
select * from orders where order_date ='2021-07-20'

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "orders",\n   ... (414 characters truncated) ...    "customer_name",\n        "amount"\n      ],\n      "attached_condition": "(`tutorial`.`orders`.`order_date` = DATE\'2021-07-20\')"\n    }\n  }\n}',)]

# List Partition

In [25]:
%%sql
DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    PRIMARY KEY (employee_id,department)
)
PARTITION BY LIST COLUMNS (department) (
    PARTITION p_sales VALUES IN ('Sales'),
    PARTITION p_hr VALUES IN ('HR'),
    PARTITION p_engineering VALUES IN ('Engineering', 'DevOps'),
    PARTITION p_other VALUES IN ('Finance', 'Marketing', 'Operations')
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [26]:
%%sql
INSERT INTO employees (first_name, last_name, department)
VALUES
('Alice', 'Smith', 'Sales'),
('Bob', 'Johnson', 'HR'),
('Charlie', 'Lee', 'Engineering'),
('Diana', 'Lopez', 'DevOps'),
('Eve', 'Turner', 'Marketing');

 * mysql+mysqlconnector://root:***@localhost/test
5 rows affected.

[]

In [27]:
%%sql
select * from employees where department= 'Sales';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'Alice', 'Smith', 'Sales')]

In [28]:
%%sql
explain format= JSON
select * from employees where department= 'Sales';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "employees",\ ... (415 characters truncated) ... n        "last_name",\n        "department"\n      ],\n      "attached_condition": "(`tutorial`.`employees`.`department` = \'Sales\')"\n    }\n  }\n}',)]

In [29]:
%%sql
explain format= JSON
select * from employees where department in  ('Sales','HR');

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.70"\n    },\n    "table": {\n      "table_name": "employees",\ ... (441 characters truncated) ... last_name",\n        "department"\n      ],\n      "attached_condition": "(`tutorial`.`employees`.`department` in (\'Sales\',\'HR\'))"\n    }\n  }\n}',)]

# Hash Partition

Hash Partition uses modulo , By taking modulo for the  given column with the given no. of partitions

hash(sensor_id)
101 %  2 = 1
102 % 2 = 0

p0                       p1
102                     100

In [32]:
%%sql
DROP TABLE IF EXISTS sensor_data;

CREATE TABLE sensor_data (
    sensor_id INT NOT NULL,
    reading_time DATETIME NOT NULL,
    reading_value DECIMAL(10,2),
    PRIMARY KEY (sensor_id, reading_time)
)
PARTITION BY HASH(sensor_id)
PARTITIONS 4;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [34]:
%%sql
INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES
(101, '2025-01-01 10:00:00', 23.50),
(102, '2025-01-01 10:05:00', 24.10),
(103, '2025-01-01 10:10:00', 22.75),
(104, '2025-01-01 10:15:00', 25.00),
(105, '2025-01-01 10:20:00', 20.00),
(106, '2025-01-01 10:25:00', 21.60);

 * mysql+mysqlconnector://root:***@localhost/test
6 rows affected.

[]

In [36]:
%%sql
select * from sensor_data where sensor_id = 101

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(101, datetime.datetime(2025, 1, 1, 10, 0), Decimal('23.50'))]