In [3]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost

In [3]:
%%sql
create database if not exists spotify_db;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[]

In [4]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost
11 rows affected.

[('customers',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('spotify_db',),
 ('sys',),
 ('test',),
 ('tutorial',),
 ('uber',),
 ('world',)]

In [5]:
%%sql
use spotify_db;

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS spotify_db.spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [10]:
%%sql
select * from spotify_db.spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost
13 rows affected.

[(1, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 64, 3.70333),
 (2, 'Blinding Lights', 'The Weeknd', 'After Hours', 90, 3.334),
 (3, 'Blinding Lights', 'The Weeknd', 'After Hours', 90, 3.334),
 (4, 'En Iniya Pon Nilave Pon', 'K. J. Yesudas', 'Moodu Pani', 44, 4.306),
 (5, 'Raja Raja Chozhan', 'Ilaiyaraaja', 'Rettai Vaal Kuruvi (Original Motion Picture Soundtrack)', 57, 4.58),
 (6, 'Siragugal', 'Javed Ali', 'Sarvam (Original Motion Picture Soundtrack)', 61, 5.36488),
 (7, 'Enakke Enakkaa', 'Unnikrishnan', 'Jeans (Original Motion Picture Soundtrack)', 60, 7.15192),
 (8, 'Keladi Kanmani', 'S. P. Balasubrahmanyam', 'Pudhu Pudhu Arthangal (Original Motion Picture Soundtrack)', 57, 4.57708),
 (9, 'Malai Kovil Vaasalil - From "Veera"', 'Mano', 'Love Notes by Ilaiyaraaja, Vol. 2', 0, 6.37888),
 (10, 'Rakkamma', 'S. P. Balasubrahmanyam', 'Thalapathi', 0, 7.138),
 (11, 'Maalayil Yaro Manathodu', 'Swarnalatha', 'Chatriyan (Original Motion Picture Soundtrack)', 58, 5.52177),
 (12, 'Ennai Thottu', 'S. P. Balasubrahmanyam', 'Unna Nenachen Pattu Padichen', 0, 5.01222),
 (13, 'Poo Maalayae', 'Ilaiyaraaja', 'Pagal Nilavu (Original Motion Picture Soundtrack)', 53, 4.3668)]

In [7]:
%%sql
truncate spotify_db.spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [12]:
%%sql
select track_name, artist, album, popularity
from spotify_db.spotify_tracks
ORDER BY popularity DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[('Blinding Lights', 'The Weeknd', 'After Hours', 90)]

In [15]:
%%sql
select avg(popularity) as Average_Popularity
from spotify_db.spotify_tracks

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(Decimal('48.7692'),)]

In [17]:
%%sql
select track_name, artist, popularity
from spotify_db.spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('En Iniya Pon Nilave Pon', 'K. J. Yesudas', 44),
 ('Raja Raja Chozhan', 'Ilaiyaraaja', 57),
 ('Siragugal', 'Javed Ali', 61),
 ('Enakke Enakkaa', 'Unnikrishnan', 60),
 ('Keladi Kanmani', 'S. P. Balasubrahmanyam', 57),
 ('Malai Kovil Vaasalil - From "Veera"', 'Mano', 0),
 ('Rakkamma', 'S. P. Balasubrahmanyam', 0),
 ('Maalayil Yaro Manathodu', 'Swarnalatha', 58),
 ('Ennai Thottu', 'S. P. Balasubrahmanyam', 0),
 ('Poo Maalayae', 'Ilaiyaraaja', 53)]

In [28]:
%%sql
select
case
    when popularity >= 80 then 'Very Popular'
    when popularity >= 50 then 'Popular'
    else 'Less Popular'
END as popularity_range,
COUNT(*) AS track_count
from spotify_db.spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost
3 rows affected.

[('Popular', 7), ('Very Popular', 2), ('Less Popular', 4)]