In [1]:
print("hello")

hello

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql mysql+mysqlconnector://root:root@localhost

In [14]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('world',),
 ('zomato',)]

In [13]:
%%sql
create database if not exists zomato;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[]

In [12]:
%%sql
use test

 * mysql+mysqlconnector://root:***@localhost
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'show table' at line 2
[SQL: use test
show table;]
(Background on this error at: https://sqlalche.me/e/20/f405)